// TLAČÍTKA

.button {
  text-decoration: none;
  border: $border;
  border-radius: $radius;
  color: #000000;

  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 25px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.button:hover {
  background-color: $complementary;
  color: #ffffff;
}
