// PATIČKA

.footer {
  padding: 30px;
  background-color: $complementary;
  color: #f5f5f5;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.footer__block {
  max-width: 1100px;
}

@media screen and (min-width: 740px) {
  .footer {
    display: flex;
    justify-content: space-around;
  }
}

.footer__area {
  margin-bottom: 20px;
  margin-left: 0;
margin-right: 0; 
}

.footer__menu {
  padding: 0;
  margin: 0;
}

.footer__menu-item {
  list-style-type: none;
}

.footer__menu-link {
  text-decoration: none;
  color: #f5f5f5;
  border-bottom: 1px solid #ffff;
}
.footer__facebook {
  width: 50px;
  margin-right: 30px;
 
}

.footer__instagram {
 width: 50px;
  
}

.footer__social {
  display: flex;
  align-items: center;
 
}



