// PARTNEŘI HOME PAGE

.partners__headline {
  text-align: center;
}

.partners__logo {
  max-width: 100%;
  
}


  .partners__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
    
  }


//PARTNEŘI KDO NÁS PODPORUJE



.partners__name {
 
  justify-items: left;
  align-items: start;
  text-align: left;
  font-size: 8px;
  
}

.partners__year {
  text-align: left;
  margin-top: 100px;
  border-bottom: 2px solid $primary;
}



.partners__type {
  text-align: left;
}

.partners__field {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
line-height: 1.3;  
}







