---
layout: layouts/sablona.njk
title: Naši partneři | Dobromysl, z. ú.
heroimg: /images/podporuje_nas_orez.jpg
heroheadline: Naši partneři
heromotto: Děkujeme všem dárcům
---


  <section class="block">


    <h1 class="block__headline">Kdo nás podporuje</h1>

    <h2 class="partners__year">Dárci - 2021</h2>

    <!-- <div class="block--grid block">
      <div class="partners__field"> -->
        <h3 class="partners__type">Firmy</h3>

        <div class="partners__field">
          <span class="partners__content partners__content--name">Avast Software s.r.o.</span>
          <span class="partners__content partners__content--name">BitDefender, LLC</span>
            <span class="partners__content partners__content--name">ČSOB Asset Management, a.s.</span>
            <span class="partners__content partners__content--name">Cymedica, spol. s r.o.</span>
            <span class="partners__content partners__content--name">iNEPRO revize s.r.o.</span>
            <span class="partners__content partners__content--name">Koberce Trend (Limex ČR, s.r.o.)</span>
            <span class="partners__content partners__content--name">LMC s.r.o.</span>
            <span class="partners__content partners__content--name">M+H, Míča a Harašta s.r.o. (Saloos)</span>
            <span class="partners__content partners__content--name">Nadace ČEZ</span>
            <span class="partners__content partners__content--name">Nadace Ikea</span>
            <span class="partners__content partners__content--name">Nokian Tyres s.r.o.</span>
            <span class="partners__content partners__content--name">RGT s.r.o.</span>
            <span class="partners__content partners__content--name">Tart s.r.o.</span>
            <span class="partners__content partners__content--name">TEZA, spol. s r.o.</span>
            <span class="partners__content partners__content--name">Tvořivý ráj (Hořovice)</span>
        </div>


        <!-- {% for partner in partneri21 %}
        
       

        <p class="partners__name">
          {{ partner.firma }}</p>

      

        {% endfor %}
      </div>

      <div class="partners__field">
        <h3 class="partners__type">Obce / města</h3>

        {% for partner in partneri21 %}

        <p class="partners__name">{{ partner.obec }}</p>

        {% endfor %}
      </div>
    </div>  -->

    <!-- <h2 class="partners__year">Dárci - 2019</h2>

    <div class="block--grid block">
      <div class="partners__field">
        <h3 class="partners__type">Firmy</h3>

        {% for partner in partneri19 %}

        <p class="partners__name">{{ partner.firma }}</p>

        {% endfor %}
      </div>

      <div class="partners__field">
        <h3 class="partners__type">Obce / města</h3>

        {% for partner in partneri19 %}

        <p class="partners__name">{{ partner.obec }}</p>

        {% endfor %}
      </div>

      <div class="partners__filed">
        <h3 class="partners__type">Fyzické osoby</h3>

        {% for partner in partneri19 %}

        <p class="partners__name">{{ partner.osoby }}</p>

        {% endfor %}
      </div>
    </div> -->

    <h3 class="partners__type">Obce / města</h3>

    <div class="partners__field">
      <span class="partners__content partners__content--name">KRAJSKÝ ÚŘAD STŘEDOČESKÉHO KRAJE</span>
        <span class="partners__content partners__content--name">Obec Osek</span>
        <span class="partners__content partners__content--name">Obec Suchomasty</span>

        
    </div>
  </section>
