<footer class="footer">
     
    <div class="footer__block">
          <div class="footer__area" ><strong>DOBROMYSL, Z. Ú.</strong></div>
          <div class="footer__area">
          IČO: 24198412
        </div>
        <div class="footer__area">
          <strong>Právní forma:</strong> 
          <div>Ústav
        </div>
        </div>
    <div class="footer__area">
          <strong>Čísla účtů:</strong>
    
    <div>
          2900210934/2010 - běžný účet<br>
          2400216934/2010 - veřejná sbírka
        </div>
        </div>

        <div class="footer__area">
          <strong>Datová schránka:</strong> yspbxrh
    
        </div>
       
      </div>
    
      <div class="footer__block">
        <div class="footer__area"><strong>Kde nás najdete:</strong>
          <div>
    Bezručova 928 (2. patro)<br>
    266 01 Beroun<br>
    budova Komunitního centra<br>
    </div>
    
    </div>
    
    <div class="footer__area"><strong>Kontakt:</strong>
    <div>
    Telefon: 775 660 966<br>
    www: www.dobromysl.org<br>
    E-mail: info@dobromysl.or
    </div>
        </div>
    
      </div>
    
      <div class="footer__block">
    
    <div class="footer__area"><strong>Další:</strong>
    <ul class="footer__menu">
    <li class="footer__menu-item"><a class="footer__menu-link" href="/onas">O nás</a></li>
    
    <li class="footer__menu-item"><a class="footer__menu-link" href="/socialnisluzby"
      >Sociální služby</a></li>
    
    
    <li class="footer__menu-item"><a class="footer__menu-link" href="/doplnkovesluzby"
      >Doplňkové služby</a
    ></li>
    
    <li class="footer__menu-item"><a class="footer__menu-link" href="/doplnkovesluzby/dobrodilo">Dobrodílo e-shop</a></li>
    
    <li class="footer__menu-item"><a class="footer__menu-link" href="/kestazeni" target="blank" rel="noopener">Ke stažení</a></li>
    </ul>
    </div>
    
    
    <div class="footer__social">
      <div class="footer__area">
      <a href="https://www.facebook.com/dobromysl" target="blank" rel="noopener">
      <img class="footer__facebook" src="/images/facebook_icon.svg" alt="facebook"></a>

    </div>

    <div class="footer__area">
      <a href="https://instagram.com/dobromysl_beroun?igshid=1bbggj85j87jx" target="blank" rel="noopener">
      <img class="footer__instagram" src="/images/instagram_icon.svg" alt="instagram"></a>
    </div>
    </div>
    </div>
    
        </footer>
      
    
    
    
    </body>
    </html>