{% include "partials/page_top.njk" %}

<div class="hero" style="background-image: url({{ heroimg }});">
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="hero__headline">{{ heroheadline }}</h1>
      <div class="hero__title-wrap">
        <span class="hero__motto"> {{ heromotto }}</span>
      </div>
    </div>
  </div>
</div>

<main>
  {{ content | safe }}
</main>

{% include "partials/page_bottom.njk" %}
